doctype html
html
	head
		title = title
		link (rel='stylesheet', href='/stylesheets/style.css')
	body
		ul
			li My Text
			<!--adding a dot, allows line breaking-->
			li. dsf sdflk ajlkf sjalkfjlfk
			 jasflka djfl kasjdlfkja 
			 lkfjdsalkfa jl
			 <!--here we will add an input. the type(text) is defined within the parantehesis. The class is defined with the '.class' and the name of the class is created with the'-name' followed by what you want to call the class-->
			input(type ='text').class-name#anyid
		block content
