extends main
block content
	
	div(class="parallax-container col l12")
			div(class="parallax")
				img(src="/assets/images/parallax_disaster.jpg")
	div(class="container col l12")
		div(class ="section col l6 offset l3 parallaxTXTBox" style=" position:relative; bottom:100px;background:#f15f22")
				h5
					p To some watching the news more and more these days we are seeing a seemingly unprecedented rise in natural and man made diasters. We see people struggling in these terrifying scenarios and wish there was some way we can assist, to relieve them of this terrible burden. That is why created RallyPoint, a way for regular people to reach out and give a helping hand to those in need.
		div(class="row")
				div(class ="col l5")
					h2 Who We Are
				div(class = "col l5 offset-l2")
					h5
						p We are a small group of developers and concerned citizens looking to make a difference in the national and global community.

					h5
						p With this in mind, we created this app in order to aid people requesting help, or looking to donate.

	div(class="parallax-container col l12")
			div(class="parallax" style="height:700px")
				img(src="/assets/images/parallax_rallypoint.jpg")
	div(class="container col l12")
		div(class ="section col l6 offset l3 parallaxTXTBox" style="position:relative; bottom:100px;background:#383481")
				h5
					p An app designed to carry your charitable consideration across the globe to those who need it. Free to use, and available to all. 
		div(class="row")
			div(class ="col l5")
				h2 What We Do
			div(class = "col l5 offset-l2")
				h5
					p Rallypoint is all about communication. People or relief centers looking for support can reach out using our 'cause' system, requesting exactly what they need.

				h5
					p Users and good samaritans can view these causes and send what they can. All donations go directly to an account linked to RallyPoint by the reqeuster.

				h5
					p This in turn, creates a community people from all across the globe, aiding and assiting all in need. 
	div(class="parallax-container col l12")
			div(class="parallax" style="height:700px")
				img(src="/assets/images/parallax_supplies.jpg")
	div(class="container col l12")
		div(class ="section col l6 offset l3 parallaxTXTBox" style="position:relative; bottom:100px;background:#f15f22")
				h5
					p Working together we can put a dent in disaster.
