extends main

block content
		main
			.flex-container
				.row
					ul.collapsible
						each cause in causes
							li
								div.collapsible-header
									i.material-icons exposure
									p Post IsD:
									h3 #{cause.id}
									br
									p Post Title:
										h3 #{cause.title}
								div.collapsible-body
									p Goal:
									p #{cause.goal}
									br
									a(href=`/causes/${cause.id}`)
										button.btn.waves-effect.blueBtn.waves-light#donateButton(type="submit") Go to This Cause   
									
