extends main

block content
  .container.center-align
    .row
      .col.s12
        h2 Thank you for your donation! You have been successfully charged $#{chargeAmount}
        
        h2 You will recieve a confirmation of your donation at #{user.email}.
  