extends main


block content
  .flex-container
    .row
      div.col.s6.offset-s3.z-depth-2
        div.center
          form.center.validate#createPost(action='/create-post' method='post' name='signin')
            .row
              div.input-field.center
                //- i.material-icons.prefix note_add
                h1.center Create a New Post!
              div.input-field.center
                i.material-icons.prefix mode_edit
                input.validate#title(name='title' type='text')
                label(for='title') Title
              div.input-field.center
                i.material-icons.prefix remove
                select.validate#category(name='category')
                  option(value='Activism') Activism
                  option(value='Event / Rally') Event / Rally
                  option(value='Man-Made Disasters') Man-Made Disasters
                  option(value='Natural Disasters') Natural Disasters
                  option(value='Miscellaneous') Miscellaneous
                label(for='category') Category

              div.input-field.center
                i.material-icons.prefix mode_edit
                textarea.materialize-textarea.validate#body(name='body' type='text')
                label(for='body') Body
              div.center
                button.blueBtn#submit(type="submit") Create Post
        
