extends main


block content
  .flex-container
    .row
      div.col.s6.offset-s3.z-depth-2
        div.center
          form.center.validate#createPost(action='/create-cause' method='post' name='create-cause')
            .row
              div.input-field.center
                //- i.material-icons.prefix note_add
                h1.center Create a New Cause
              div.input-field.center
                i.material-icons.prefix mode_edit
                input.validate#title(name='title' type='text')
                label(for='title') Title
              div.input-field.center
                i.material-icons.prefix mode_edit
                textarea.materialize-textarea.validate#body(name='body' type='text')
                label(for='body') Body
              div.input-field.center
                i.material-icons.prefix local_atm
                input.validate#goal(name='goal' type='number')
                label(for='goal') Goal Amount
              div.center
                button.blueBtn#submit(type="submit") Create Cause
        
