doctype html
footer(class="page-footer footerOverride")
	div(class="container")
		div(class="row")
			div(class="col l6 s12")
				h5(class ="white-text") Company Bio
				p(class ="grey-text text-lighten-4") We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
			div(class ="col l3 s12")
				h5(class="white-text") Get Active
				ul
					li
						a(href ="/", class ="white-text") Home
					li
						a(href = "/create-cause", class ="white-text") Create a cause
					li
						a(href = "/causes", class ="white-text") View Causes
					li
						a(href = "/create-post", class ="white-text") Create a Post
					li
						a(href = "/posts", class ="white-text") View Posts
			div(class ="col l3 s12")
				h5(class="white-text") Connect
				ul
					li
						a(href = "/about", class ="white-text") About Us
					li
						a(href = "/sign-up", class ="white-text") Register
					li
						a(href = "/sign-in", class ="white-text") Log-in
					li
						a(href = "/log-out", class ="white-text") Log-Out
	div(class= "footer-copyright")
		div(class ="container") Copyright 2017 RallyPoint - All Rights Reserved.
			a(class ="grey-text text-lighten-4 right", href="#!") Created By: Zach Durham, Melvin Hill, and Rick Meaney









script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
script(type= "text/javascript", src="/assets/javascript/slider.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.2.0/validator.js")
script(type='text/javascript' src='assets/javascript/init.js')

