doctype html
footer(class="page-footer footerOverride")
	div(class="container")
		div(class="row")
			div(class="col l6 s12")
				h5(class ="white-text") Company Bio
				p(class ="grey-text text-lighten-4") We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
			div(class ="col l3 s12")
				h5(class="white-text") Settings
				ul
					li
						a(href = "#", class ="white-text") Link 1
					li
						a(href = "#", class ="white-text") Link 2
					li
						a(href = "#", class ="white-text") Link 3
					li
						a(href = "#", class ="white-text") Link 4
			div(class ="col l3 s12")
				h5(class="white-text") Connect
				ul
					li
						a(href = "#", class ="white-text") Link 1
					li
						a(href = "#", class ="white-text") Link 2
					li
						a(href = "#", class ="white-text") Link 3
					li
						a(href = "#", class ="white-text") Link 4
	div(class= "footer-copyright")
		div(class ="container") Copyright 2017 RallyPoint - All Rights Reserved.
			a(class ="grey-text text-lighten-4 right", href="#!") More Links









script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
script(type= "text/javascript", src="/assets/javascript/slider.js")
script(type='text/javascript' src='assets/javascript/init.js')