extends frontpage



block content
	main
		div(class="section no-pad-bot", id="index-banner")
				br
				br
				h1(class ="header center orange-text") Rally Together
				div(class="row center")
					h5(class="header col s12 light") Help out Families in Need!
				div(class ="row center")
					a(href ="#", id="download-button", class ="btn-large waves-effect waves-light orange") Donate Today!
				br
				br