
//I am a line comment
<!--I am a block Comment ASDSa 
dasdas sad-->

doctype html
html
	head
		title Rally Point
		// Linking Material Icons
		link(rel = "stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

		// Linking Materialize CSS
		link(type="text/css", rel ="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")

		// Linking local, unique styling
		link(rel='stylesheet', href='assets/css/style.css')
		
	body
		ul(id="dropdown1", class="dropdown-content")
			li
				a(href ="#") Requests
			li
				a(href = "#!") Causes
			li(class ="divider")
			li

				a(href="/posts") Posts


		ul(id="dropdown2", class="dropdown-content")
			li
				a(href ="/welcome") User Profile
			li
				a(href = "#!") Option 2
			li(class ="divider")
			li
				a(href ="#!") Sign Out
		nav
			div(class="nav-wrapper")
				img(src = "/assets/images/rpLogo.png" class ="left" width ="250" height ="62")
				ul(class="hide-on-med-and-down left")
					li
						a(class ="dropdown-button", href="#!", data-activates ='dropdown1') Get Active
							i(class ="material-icons right") arrow_drop_down
					li
						a(href ="#") About Us
					li
						a(href ="#") Components
					li
						a(href ="#") Contact
				ul(class = "hide-on-med-and-down right")
					li

						a(href = "/sign-in") login / register
					if user
						li
							a(class ="dropdown-button", href="/dashboard", data-activates ='dropdown2') #{user.username}
								i(class ="material-icons right") arrow_drop_down
					else
						li
							a(class ="dropdown-button", href="", data-activates ='dropdown2') User Profile
								i(class ="material-icons right") arrow_drop_down
		div.row.underRow

