doctype html
html
	head
		title Rally Point
		link(rel = "stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(type="text/css", rel ="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
		link(rel = 'stylesheet', href='/assets/css/style.css')
		
		
		
	body
	
		div(id ="modal1", class ="modal modal-fixed-footer")
			div(class = "modal-content")
				h4 Sign in
				p A bunch of text
				form(method="post", action="/sign-in")
					label(for="username") Email
					input#email(name="email" type="text" placeholder = "email")

					label(for="password") Password
					input#password(name="password" type="password", placeholder ="Enter Your Password")
					div(class="center-align")
						button.btn.waves-green.waves-effect(type="submit", class ="center-align") Submit

				br
				br
				
				h4(class ="center-align") Want to create an account?
				div(class ="center-align")
					<a class="waves-effect waves-light btn modal-action modal-close", href ="/sign-up">Join</a>

			div(class ="modal-footer")
				a(href="#!", class="modal-action modal-close waves-effect waves-green btn-flat") Close
		ul(id="dropdown1", class="dropdown-content")
			li
				a(href ="/create-post") Requests
			li(class ="divider")
			li
				a(href = "#!") Causes
			li(class ="divider")
			li
				a(href ="/posts") Posts

		ul(id="dropdown2", class="dropdown-content")
			li
				a(href ="/dashboard") User Profile
			li(class ="divider")
			li(class ="divider")
			li
				a(href ="/logout") Sign Out
		nav
			div(class="nav-wrapper")
				h2(class ="left valign-wrapper") Rally Point
				ul(class="hide-on-med-and-down left")
					li
						a(href ="/") Home
					li
						a(class ="dropdown-button", href="#!", data-activates ='dropdown1') Get Active
							i(class ="material-icons right") arrow_drop_down
					li
						a(href ="#") About Us
					li
						a(href ="#") Components
					li
						a(href ="#") Contact
				ul(class = "hide-on-med-and-down right")
					li
						a(class ="btn modal-trigger", href = "#modal1") login / sign up
					if user
						li
							a(class ="dropdown-button", href="/dashboard", data-activates ='dropdown2') #{user.username}
								i(class ="material-icons right") arrow_drop_down
					else
						li
							a(class ="dropdown-button", href="", data-activates ='dropdown2') User Profile
								i(class ="material-icons right") arrow_drop_down

		div.row.underRow


