extends main

block content
	.flex-container
		.row
			ul.collapsible
				each post in posts
					li
						div.collapsible-header
							i.material-icons exposure
							p Post ID:
							a(href=`/posts/${post.id}`)
							br
							p Post Title:
								h3 #{post.title}
						div.collapsible-body
							p Subject:
							h3 #{post.subject}
							br
							p Body:
							p #{post.body}
							br
							button.btn.waves-effect.waves-light#donateButton(type="button") Donate Today!