extends main

block content
  .flex-container
    div.post
      h1 #{post.title}
      h3 #{post.subject}
      p #{post.body}
      p Signature below
      p #{post.User.username}
    
    // Put a conditional here
    p Comment on this post
    form(action='/comment' method='post')
      div.input-field.col.s12
      textarea#comment.materialize-textarea(name="comment", cols="30", rows="10")
    button.btn.waves-effect.waves-light#submit(type="submit") Submit

      