extends main

block content
	.flex-container
		.row
			ul.collapsible
				each post in posts
					li
						div.collapsible-header
							i.material-icons exposure
							p Post ID:
								a(href=`/posts/${post.id}`)
							br
							p Post Title:
								h3 [#{post.category}] #{post.title}
						div.collapsible-body
							br
							//p Body:
							p #{post.body}
							br
							