extends main

block content
  div(class ="container postIndiv")
    div(class ="row headerColor")
      div(class ="col l3")
      div(class ="col l6")
        h4 Title
      div(class ="col l3")
    div(class ="row")
      div(class ="col l3 postLCol")
        div(class = "row")
            h5 User Name
        div(class = "row center-align")
            img(src ="https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png", width ="100", height="100")
      div(class ="col l9")
        p dfsdfd asghfjksdah'f asgk'jfdhfkjdasf hakjasdfh'asdgk'jf hsd'jksdfa fhjk safjksadf hsj'aghk' ljfgh'sgjk'fhl' fasdgh' kjlsdah'aghf fhasdjk fhsjkl'afh ghjhjghjgj jg jhgjhgjhgjhgjkghghjkgjh gghjgkjhghjkghj  gk jhghjghjkg jhkg hjkghjghkj ghjkg dfsdfd asghfjksdah'f asgk'jfdhfkjdasf hakjasdfh'asdgk'jf hsd'jksdfa fhjk safjksadf hsj'aghk' ljfgh'sgjk'fhl' fasdgh' kjlsdah'aghf fhasdjk fhsjkl'afh ghjhjghjgj jg jhgjhgjhgjhgjkghghjkgjh gghjgkjhghjkghj  gk jhghjghjkg jhkg hjkghjghkj ghjkg dfsdfd asghfjksdah'f asgk'jfdhfkjdasf hakjasdfh'asdgk'jf hsd'jksdfa fhjk safjksadf hsj'aghk' ljfgh'sgjk'fhl' fasdgh' kjlsdah'aghf fhasdjk fhsjkl'afh ghjhjghjgj jg jhgjhgjhgjhgjkghghjkgjh gghjgkjhghjkghj  gk jhghjghjkg jhkg hjkghjghkj ghjkg
        span(class ="divide")
        p Signature Below
  if user
    p Reply to this post
    form(action='/posts/' + post.id + '/comment' method='post')
      div.input-field.col.s12
        textarea#comment.materialize-textarea(name="comment", cols="30", rows="10")
        button.btn.waves-effect.waves-light#submit(type="submit") Submit
  else
    p You must be signed in to comment on this post
  