extends main

block content
  .flex-container
    div(class="marginRemover")
      div(class="row createTopper")
        div(class ="col s6 offset-s3 createTopperColor", style ="padding-bottom:0px;margin-top:20px;")
          h3.title Register
    .row
      .col.s6.offset-s3.z-depth-2
        h3.title Login
        p A bunch of text
        // not an email
        if badEmail
          p.err #{badEmail}
        // not found 
        if emailErr
          p.err #{emailErr}
        form(method='post' action='/sign-in')
          label(for="username") Email
          input#email(name="email" type="text" placeholder = "email")

          // no password at all
          if badPass
            p.err #{badPass}
          // password does not match
          if passErr 
            p.err #{passErr}
          label(for="password") Password
          input#password(name="password" type="password", placeholder ="Enter Your Password")
          div(class="center-align")
            button#signin.btn.waves-green.waves-effect.blueBtn.center-align(type="submit") Submit
            
        br
        br
        
        h4(class ="center-align") New to RallyPoint? Make an account!
        div(class ="center-align")
          a(href="/sign-up")
            button(class="waves-effect waves-light btn modal-action modal-close blueBtn") Join
        br