div(class = "slider")
		ul(class="slides")
			each article in news
				li
					a(href=`${article.url}` target='_blank')
						img(src=`${article.urlToImage}`)
						div(class="caption center-align")
							h3 #{article.title}
							h5(class = "light grey-text text-lighten-3") #{article.author}