body{

	margin:0 auto 0 auto;
}
.anyid{
	width:400px;
	height:300px;
	background-color:red;
	color:green;
}
.myContainer{
	height:400px;
}
.myContainer p{
	font-size:50pt;
}
.nav-wrapper h2{
	padding:0px;
	position:relative;
	margin-top:10px;
	color:green;
}