body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.nav-wrapper{
	background-color:#383481;
}
.nav-wrapper h2{
	position: relative;
	margin-top:0px;
	font-family:helvetica;
}
.underRow{
	background-color:#006DE7;
	height:20px;
	margin:0px;
	padding:0px;
}
.slider{
	padding:0px;
	margin:0px;
}
.sliderText{
	text-shadow: 2px 1px black;
}
/*Post redo*/
.container > .postCap{
	padding-bottom:0px;
}
/*Post content*/


.postIndiv{
	padding:0px;
	background-color:lightgrey;
}
.postLCol{
	border-right:1px solid black;
}
.headerColor{
	background-color:#383481;
	padding-bottom:0px;
	margin:0px;
	padding:0px;
}
.headerColor h4{
	color:white;
	padding-left:10px;
}

/*dashboard content*/
.commentListProfile .row{

}
.blueBox{
	border-top: 15px solid #f15f22;
	background-image:url("/assets/images/pattern_blue.jpg");
	color:white;
	text-shadow: 4px 2px black;
	border-radius:0px 0px 15px 15px;
	padding-top: 0px;
	
}

/*Footer content*/
.page-footer{
	background-color:#FF5E00;
	background-image:url("/assets/images/pattern_orange.jpg");
	bottom:0px;
	position:relative;
}
.footer-copyright{
	background-color:red;
}
 .parallax-container {
	height: 500px;
    }
  .parallaxTXTBox{
	color:white;
	padding:40px;
	margin: 0 auto 0 auto;
	border-radius:10px;
  }
  .parallaxTXTBox p{
	font-weight:40px;
  }
  .tabActive{
  	background-color:#FF5E00;
  	color:white;
  }
  .tabInactive{
  	background-color:#383481;
  	color:white;
  }
  .subTabActive{
    background-color:#FF5E00;
    color:white;
    font-size:8px;
    padding:0px;
    margin:0px;
  }
  .subTabInactive{
    background-color:#383481;
    color:white;
    font-size:8px;
    padding:0px;
    margin:0px;
  }
  .tabs .indicator{
  	color:white;
  }
  .tabs h5,h6{
  	color:white;
  }
  .orangeBtn{
  	background-color:#FF5E00;
  	min-height:60px;
  	border-radius:15px;
  	color:white;
  }
  .orangeBtn:hover{
  	background-color:#383481;
  }
  .orangeBtn:focus{
  	background-color:#FF5E00;
  }
  .blueBtn{
  	background-color:#383481;
  	min-height:60px;
  	border-radius:15px;
  	color:white;
  }
  .blueBtn:hover{
  	background-color:#FF5E00;
  }

  .marginRemover: first-child .row{
	margin:0px;
  }
  .createTopper{
  	margin:0px;
  	color:white;
  }
  .createTopperColor{
  	background-color:#FF5E00;
  	border-radius:10px 10px 0px 0px;
  }
 .dropdown-content li a{
 	color:#FF5E00;
 }