.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.nav-wrapper{
	background-color:#383481;
}
.nav-wrapper h2{
	position: relative;
	margin-top:0px;
	font-family:helvetica;
}
.underRow{
	background-color:#006DE7;
	height:20px;
	margin:0px;
	padding:0px;
}
.slider{
	padding:0px;
	margin:0px;
}
/*Post redo*/
.container > .postCap{
	padding-bottom:0px;
}
/*Post content*/


.postIndiv{
	padding:0px;
	background-color:lightgrey;
}
.postLCol{
	border-right:1px solid black;
}
.headerColor{
	background-color:#383481;
	padding-bottom:0px;
	margin:0px;
	padding:0px;
}
.headerColor h4{
	color:white;
	padding-left:10px;
}

/*dashboard content*/
.commentListProfile .row{

}
.blueBox{
	border-top: 15px solid #f15f22;
	background-image:url("/assets/images/pattern_blue.jpg");
	color:white;
	text-shadow: 4px 2px black;
	border-radius:0px 0px 15px 15px;
	padding-top: 0px;
	
}

/*Footer content*/
.page-footer{
	background-color:#FF5E00;
	background-image:url("/assets/images/pattern_orange.jpg");
	bottom:0px;
	position:relative;
}
.footer-copyright{
	background-color:red;
}
